body {
	background-color: #1e1e1e;
	color: white;
	overflow-x: hidden;
	position: relative;
}

[data-level] {
	display: none !important;
}

[data-progress="1"] [data-level="1"],
[data-progress="2"] [data-level="1"],
[data-progress="2"] [data-level="2"],
[data-progress="3"] [data-level="1"],
[data-progress="3"] [data-level="2"],
[data-progress="3"] [data-level="3"],
[data-progress="4"] [data-level="1"],
[data-progress="4"] [data-level="2"],
[data-progress="4"] [data-level="3"],
[data-progress="4"] [data-level="4"],
[data-progress="5"] [data-level="1"],
[data-progress="5"] [data-level="2"],
[data-progress="5"] [data-level="3"],
[data-progress="5"] [data-level="4"],
[data-progress="5"] [data-level="5"],
[data-progress="6"] [data-level="1"],
[data-progress="6"] [data-level="2"],
[data-progress="6"] [data-level="3"],
[data-progress="6"] [data-level="4"],
[data-progress="6"] [data-level="5"],
[data-progress="6"] [data-level="6"] {
	display: flex !important;
}

.hide {
	display: none !important;
}

.head {
	height: 70px;
	margin-bottom: 20px;
	padding: 12px;
	background-color: #2b2b2b;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 64px;
	box-shadow: 0px 5px 20px 0px rgba(16, 31, 61, 0.05);
}

.group {
	display: flex;
	align-items: center;
	gap: 20px;
	position: relative;

	.item {

		&:first-child {
			flex-direction: row-reverse;
		}

		&:nth-child(2) {

			&::after {
				content: '';
				height: 40px;
				width: 2px;
				background-color: #1e1e1e;
				position: absolute;
				left: -11px;
			}
		}
	}
}

.item {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
	font-size: 20px;
	position: relative;

	&--money {

		.item__img {
			max-width: 24px;
		}
	}

	&__img {
		max-width: 41px;
		max-height: 50px;
	}
}

#galaxyCanvas {
	width: 380px;
	height: 380px;
	border-radius: 50%;
	border: 5px solid #2b2b2b;
}

.wood {
	display: flex;
	align-items: center;

	&__txt {
		padding-top: 4px;
	}

	&__img {
		width: 20px;
	}
}

.money {
	display: flex;
}

.champs,
.mine,
.grange,
.sac,
.sonde {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

/**/
.background {
	width: 100%;
	height: 400px;
	background-image: url("../assets/img/background.png");
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.woodEffect {
	position: absolute;
	z-index: 100;
	font-size: 20px;
	font-weight: bold;
	color: #5ab659;
	-webkit-text-stroke: 1px #30374e;
	text-stroke: 1px #30374e;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 1;
	pointer-events: none;
	/* Pour ne pas interférer avec d'autres éléments */

	animation: fadeOut 2s forwards;
	/* Animation pour faire disparaître l'élément */
}

.woodEffect img {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	background-size: cover;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(-20px);
		/* Pour que l'élément monte légèrement avant de disparaître */
	}
}

/**/

.main {
	max-width: 1600px;
	width: 100%;
	height: 800px;
	margin: 0 auto;
	padding: 0 20px;
	display: flex;
	gap: 20px;
	position: relative;
}

.container {
	flex-shrink: 0;
	max-width: 1296px;
	width: 100%;
}

.sidebar {
	max-width: 280px;

	&-list {
		display: flex;
		flex-direction: column;

		&__ele {
			padding: 16px 32px;
			cursor: pointer;

			&:hover {
				background-color: #2d2d2d;
			}

			&--active {
				background-color: #303030 !important;
			}
		}
	}
}

.container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.sidebar,
.bg,
.interact {
	width: 100%;
	height: 100%;
	border-radius: 2px;
	background-color: #2b2b2b;
}

.interact {

	&-list {
		width: 100%;

		&--conseil {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	&-head {
		display: flex;
		justify-content: center;
		gap: 34px;

		&__menu {
			padding: 16px 24px;
			background-color: #1E1E1E;
			border-radius: 2px;
			opacity: .5;
			cursor: pointer;

			&--active {
				opacity: 1;
			}
		}
	}
}

body:has(.interact-head__menu--active[data-conseil="ressources"]) .interact-body__content {

	&--exploration,
	&--colonisation {
		display: none;
	}
}
body:has(.interact-head__menu--active[data-conseil="exploration"]) .interact-body__content {

	&--ressources,
	&--colonisation {
		display: none;
	}
}
body:has(.interact-head__menu--active[data-conseil="colonisation"]) .interact-body__content {

	&--exploration,
	&--ressources {
		display: none;
	}
}

.interact-body,
.interact-body__content {
	height: 100%;
}

.upgrade {
	height: 100%;
	display: flex;
	gap: 16px;

	&__card {
		min-width: 240px;
		padding: 16px;
		padding-top: 28px;
		border-radius: 2px;
		background-color: #303030;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;

		&__title {
			font-size: 18pxiope;
		}

		&__img {
			max-width: 100px;
			max-height: 100px;
			margin: 16px auto 0;
		}

		&__picto {

			&--low {
				margin-bottom: -4px;
			}
			&--hardlow {
				margin-bottom: -6px !important;
			}
		}
	}
}

.bg {
	display: flex;
	justify-content: center;
	align-items: center;

	&__conseil {
		width: 100%;
		height: 380px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;

		&[data-count="1"] {
			background-color: #020019;
			background-image: url("../assets/img/conseil-1.jpeg");
		}

		&[data-count="2"] {
			background-color: #02000b;
			background-image: url("../assets/img/conseil-2.jpeg");
		}

		&[data-count="3"] {
			background-color: #0b0614;
			background-image: url("../assets/img/conseil-3.jpeg");
		}

		&[data-count="4"] {
			background-color: #040025;
			background-image: url("../assets/img/conseil-4.jpeg");
		}

		// position: relative;

		// &::before {
		// 	content: '';
		// 	width: 100%;
		// 	height: 100%;
		// 	position: absolute;
		// 	background: radial-gradient(ellipse, rgba(2,0,36,0) 65%, rgba(43,43,43,1) 70%);
		// }
	}

	&__quantique {
		width: 100%;
		height: 380px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position-y: 90%;
		background-image: url("../assets/img/monde-quantique.jpeg");
	}
}

.interact {
	padding: 16px;
	display: flex;
	align-items: center;

	&-list {
		height: 100%;
		display: flex;
		gap: 16px;
	}

	.card {
		min-width: 240px;
		height: 100%;
		padding: 16px;
		padding-top: 28px;
		border-radius: 2px;
		background-color: #303030;
		display: flex;
		flex-direction: column;
		position: relative;

		&--shipW {

			.card__purchase {
				margin-top: 16px;
				bottom: 84px;
			}
		}

		&--sonde {

			.info {
				&__txt {

					&:nth-child(3) {
						margin-top: -4px;
						color: #cfcfcf !important;
					}

					&--grey {
						color: #cfcfcf !important;
					}
				}
			}
		}

		&__title {
			margin-bottom: 16px;
			text-align: center;
			font-size: 20px;
		}

		&__desc {

			img {
				position: relative;
				top: 4px;
				max-width: 20px;
			}
		}

		&__img {
			max-width: 180px;
			max-height: 180px;
			margin: 0 auto;
		}

		&__space,
		&__prod1,
		&__prod,
		&__gainB,
		&__gainW {
			display: flex;
			align-items: center;
			gap: 4px;

			img {
				max-width: 32px;
			}
		}

		
	}
}

.info {
	max-width: calc(100% - 16px);
	position: absolute;
	top: 8px;
	right: 8px;
	transition: all .2s ease;
	cursor: help;

	&:hover {
		border-radius: 4px;
		padding: 8px;
		background-color: #1e1e1e;

		.info__head {
			width: 0px;
			height: 0px;
			font-size: 0;
			opacity: 0;
			top: 9px;
			right: 9px;
		}

		.info__content {
			display: flex;
			font-size: 12px;
			opacity: 1;
		}
	}

	&--binds {
		min-height: 30px;
		top: auto;
		bottom: 0;
		
		&:hover {
			background-color: #070707;
		}

		.info__head {
			width: auto;
			height: auto;
			border-radius: 4px;
			padding: 8px 16px;
			background-color:#070707;
			box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.02),
				0px 5px 4px rgba(3, 7, 18, 0.03), 0px 12px 9px rgba(3, 7, 18, 0.05),
				0px 20px 15px rgba(3, 7, 18, 0.06), 0px 32px 24px rgba(3, 7, 18, 0.08);
			font-size: 14px;
		}

		.info__content {
			background-color: #070707;
		}
	}
	
	&__head {
		width: 18px;
		height: 18px;
		padding-top: 2px;
		border-radius: 50%;
		background-color: #1e1e1e;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 10px;
		position: absolute;
		top: 0;
		right: 0;
		opacity: 1;
		transition: all .2s ease;
	}

	&__content {
		display: none;
		flex-direction: column;
		gap: 8px;
		font-size: 0;
		opacity: 0;
		transition: all .2s ease;
	}

	&__txt {
		display: flex;
		align-items: center;
		gap: 8px;
		color: #e9e9e9;

		&:nth-child(even) {
			color: #cfcfcf;
		}

		&--minigap {
			gap: 4px;
		}

		&--img {
			margin-left: 0 !important;
		}

		&--pad {
			padding-left: 8px;
		}
	}

	img {
		max-width: 16px !important;
		object-fit: contain;
	}

	&__img {
		width: 16px;
		display: block;

		img {
			margin: 0;
		}
	}
}

.market {
	display: flex;
	position: absolute;
	top: 70px;
	right: -432px;
	z-index: 1;
	transition: right 0.2s ease-in-out;

	&:has(.market__head:hover, .market__content:hover) {
		transition: right 0.2s ease-in-out .15s;
		right: 0;
	}

	&__head {
		height: fit-content;
		border-left: 3px solid white;
		border-radius: 8px 0 0 8px;
		padding: 8px;
		background-color: #3f3f3f;
		display: flex;
		position: relative;

		&::before {
			content: "";
			width: 100%;
			height: 100%;
			box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.02),
				0px 5px 4px rgba(3, 7, 18, 0.03), 0px 12px 9px rgba(3, 7, 18, 0.05),
				0px 20px 15px rgba(3, 7, 18, 0.06), 0px 32px 24px rgba(3, 7, 18, 0.08);
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
		}
	}

	&__icon {
		max-width: 48px;
	}

	&__content {
		border-radius: 0 0 0 8px;
		padding: 16px;
		background-color: #3f3f3f;
		position: relative;

		&::before {
			content: "";
			width: 100%;
			height: 100%;
			box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.02),
				0px 5px 4px rgba(3, 7, 18, 0.03), 0px 12px 9px rgba(3, 7, 18, 0.05),
				0px 20px 15px rgba(3, 7, 18, 0.06), 0px 32px 24px rgba(3, 7, 18, 0.08);
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
		}
	}

	&__title {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 18px;
	}

	&__price {
		margin-left: 8px;
	}

	&__chart {
		width: 400px !important;
		margin-top: 16px;
	}

	&__sell {
		margin-top: 16px;
		margin-left: auto;
		display: flex;
		align-items: center;
	}

	&__gold {
		width: 16px;
		margin-bottom: -3px;
	}
}

body:has(.market__head:hover, .market__content:hover) .fire {
	top: 420px;
	transition: top .2s ease-in-out;
}

.fire {
	border-radius: 8px 0 0 8px;
	padding: 16px;
	background-color: #3f3f3f;
	box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.02),
				0px 5px 4px rgba(3, 7, 18, 0.03), 0px 12px 9px rgba(3, 7, 18, 0.05),
				0px 20px 15px rgba(3, 7, 18, 0.06), 0px 32px 24px rgba(3, 7, 18, 0.08);
	display: flex;
	flex-direction: column;
	gap: 16px;
	position: absolute;
	top: 150px;
	right: 67px;
	transform: translateX(100%);
	z-index: 10;
	transition: top .2s ease-in-out .15s, transform .2s ease-in-out, right .2s ease-in-out;

	&:hover {
		right: 0;
		transform: translateX(0%);
	}

	&__title {
		text-align: center;
		margin-bottom: 16px;
	}
}

.ship {
	display: flex;
	align-items: center;
	gap: 8px;

	&B {
		color: #b65555;
	}

	&W {
		color: #3e8698;
	}

	&__nb {
		width: 104px;
		height: 18px;
		border: 2px solid #757575;
		border-radius: 2px;
		background-color: white;
		display: flex;

		&--b {
			height: 100%;
			background-color: #b65555;
		}

		&--w {
			height: 100%;
			background-color: #3e8698;
		}
	}
}

.ship__nb {
	cursor: help;
}
body:has(.ship__nb:hover) .shipinfo,
.shipinfo:hover {
	z-index: 1;
	opacity: 1;
}

.shipinfo {
	width: 200px;
	border-radius: 8px;
	padding: 16px;
	background-color: #3f3f3f;
	display: flex;
	flex-direction: column;
	gap: 8px;
	font-size: 16px;
	position: absolute;
	top: 24px;
	left: 36%;
	z-index: -1;
	transform: translateX(-50%);
	opacity: 0;
	transition: opacity 0.2s ease;
	cursor: help;

	&__ele {
		width: 100%;
		display: flex;
		gap: 4px;

		&--total {
			margin-top: 4px;
		}
	}
}

.item--planetColonised,
.item--science {
	cursor: help;
}
body:has(.item--planetColonised:hover) .planetColonised-info,
.planetColonised-info:hover {
	z-index: 1;
	opacity: 1;
}
body:has(.item--science:hover) .science-info,
.science-info:hover {
	z-index: 1;
	opacity: 1;
}
.planetColonised-info,
.science-info {
	width: 265px;
	border-radius: 8px;
	padding: 16px;
	background-color: #3f3f3f;
	display: flex;
	flex-direction: column;
	gap: 16px;
	font-size: 14px;
	line-height: 18px;
	position: absolute;
	bottom: 0;
	transform: translateY(100%);
	z-index: -1;
	opacity: 0;
	transition:  all .2s ease;

	&__title {
		padding-left: 14px;
	}

	&__img {
		max-width: 24px;
		max-height: 24px;
		margin-bottom: -6px;
	}
}

.science-info {
	width: 160px;
	gap: 8px;

	&__img {
		max-width: 20px;
		max-height: 20px;
	}

	&__graph {
		width: 104px;
		height: 18px;
		border: 2px solid #757575;
		border-radius: 2px;
		margin: 0 auto;
		background-color: white;
		display: flex;

		&--current {
			height: 100%;
			background-color: #2483cd;
		}
	}
}

.colonized {
	width: 204px;
    height: 18px;
    border: 2px solid #757575;
    border-radius: 2px;
	margin: 2px auto 0;
    background-color: white;
    display: flex;

	&--b {
		height: 100%;
		background-color: #b65555;
	}

	&--w {
		height: 100%;
		background-color: #3e8698;
	}
}
.legend {
	margin-top: 8px;
	text-align: center;
}

/* btn */
.disabled {
	cursor: not-allowed !important;
}

.btn {
	border: none;
	background: transparent;
	padding: 0;
	cursor: pointer;
	outline-offset: 4px;
	transition: filter 250ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	position: relative;

	&.card__purchase {
		position: absolute;
		bottom: 16px;
		width: calc(100% - 32px);

		.btn-front {
			display: flex;
			flex-direction: column;
		}
		.btn__txt {
			line-height: 30px;
		} 
	}

	&.upgrade__card__purchase {
		position: absolute;
		bottom: 16px;
		width: calc(100% - 32px);
		font-size: 14px;

		&--2 {
			position: absolute;
			bottom: 16px;
			width: calc(100% - 32px);
			font-size: 14px;
			bottom: 84px;

			.btn-front {
				display: flex;
				flex-direction: column;
			}
			.btn__txt {
				line-height: 30px;
	
				img {
					margin-bottom: -2px;
				}
			}
	
			.upgrade__card__picto {
				width: 22px;
			}
		}

		.btn-front {
			display: flex;
			flex-direction: column;
		}
		.btn__txt {
			line-height: 30px;

			img {
				margin-bottom: -2px;
			}
		}

		.upgrade__card__picto {
			width: 22px;
		}
	}

	&.market__sell .btn-front{
		font-size: 16px;
	}

	&.fire__sonde,
	&.fire__ship {
		width: 100%;
		display: flex;

		.btn-front {
			width: 100%;
		}
	}

	&.disabled {
		opacity: .67;
	}

	&:hover {

		.btn__txt {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			opacity: 0;

			&--hovered {
				position: static;
				opacity: 1;
			}
		}
	}

	&__txt {
		display: block;
		opacity: 1;

		&--hovered {
			opacity: 0;
			position: absolute;

			&:has(.upgrade__card__picto) {
				gap: 4px;
			}
		}
	}

	.card__price {
		display: flex;
		justify-content: center;
		gap: 12px;

		&--row {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 2px;
			font-size: 16px;
			line-height: 30px;
	
			img {
				max-width: 16px;

				&[src*="bishop"],
				&[src*="warrior"] {
					max-width: 26px;
				}
			}
		}
	}
}

.btn-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 12px;
	background: hsl(0deg 0% 0% / 0.25);
	will-change: transform;
	transform: translateY(2px);
	transition:
		transform 600ms cubic-bezier(.3, .7, .4, 1);
}
.upgrade__card__purchase .btn-shadow,
.upgrade__card__purchase--2 .btn-shadow {
	background: hsla(235, 100%, 10%, 0.25);
}

.btn-edge {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 12px;
	background: linear-gradient(to left,
			#02000b 0%,
			#0f0f0f 8%,
			#0f0f0f 92%,
			#02000b 100%);
}

.upgrade__card__purchase .btn-edge,
.upgrade__card__purchase--2 .btn-edge {
	background: linear-gradient(to left,
		#080220 0%,
		#00000e 8%,
		#00000e 92%,
		#080220 100%);
}

.btn-front {
	position: relative;
	padding: 12px 6px;
	border-radius: 12px;
	color: white;
	background: #1e1e1e;
	will-change: transform;
	text-align: center;
	transform: translateY(-4px);
	transition:
	transform 600ms cubic-bezier(.3, .7, .4, 1);
}
.upgrade__card__purchase .btn-front,
.upgrade__card__purchase--2 .btn-front {
	background: #10172b;
	padding: 12px 6px !important;
}

@media (min-width: 768px) {
	.btn-front {
		padding: 12px 42px;
	}
}

.btn:not(.disabled):hover {
	filter: brightness(110%);
	-webkit-filter: brightness(110%);
}

.btn:not(.disabled):hover .btn-front {
	transform: translateY(-6px);
	transition:
		transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.btn:not(.disabled):active .btn-front {
	transform: translateY(-2px);
	transition: transform 34ms;
}

.btn:not(.disabled):hover .btn-shadow {
	transform: translateY(4px);
	transition:
		transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.btn:not(.disabled):active .btn-shadow {
	transform: translateY(1px);
	transition: transform 34ms;
}

.btn:not(.disabled):focus:not(:focus-visible) {
	outline: none;
}

/**/
.multiplicator {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba($color: #000000, $alpha: 0.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;

	&__content {
		border: 4px solid #1e1e1e;
		border-radius: 8px;
		padding: 32px;
		background-color: #4e4e4e;
	}

	&__title {
		font-size: 22px;
		text-align: center;
	}

	&__group {
		margin-top: 32px;
		display: flex;
		gap: 24px;
	}

	input {
		margin-right: 0;
	}
}

.end {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;

	&__canvas {
		width: 100%;
		height: 100%;
	}
}

.readme {
	width: 100%;
	height: 100%;
	background-color: #10172b7e;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;

	&__img {
		max-height: 600px;
	}
}